main {
    .header-title {
        margin-bottom: 15px;
        padding-left: 30px;

        h1 {
            color: #f4f4f4;
            font-weight: 700;
        }
    }

    .nav-tabs {
        flex-wrap: nowrap;
        padding-left: 20px;
        border-bottom: 2px solid #242424;
        margin-bottom: 25px;
        overflow-x: auto;
        overflow-y: hidden;

        .nav-item {
            margin-right: 40px;

            .nav-link {
                color: #8C8C8C;
                font-size: 18px;
                text-transform: uppercase;
                text-decoration: none;
                font-weight: 700;
                border: transparent;

                &:hover {
                    color: #FFCC00;
                }

                &.active {
                    display: inline-block;
                    background-color: transparent;
                    color: #E8E8E8;
                    border-bottom: 3px solid #FFCC00 !important;
                }
            }
        }
    }
}